/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
height: 100%;
width: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

/*table {
border-collapse:collapse;
border-spacing:0;
}*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0; 
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*-------------------------------Main code   INDEX ---------------------------------------------------------*/

.wrapper
{
	height: 700px;
	width: 1500px;
        background-image: url("images/5.jpg");
	background-repeat: no-repeat;
	
}
header
{
	height: 140px;
	width: 100%;
	background-color: white;
	padding-left: 15px;
	
}
section
{
	height: 100%;
	width: 100%;
	background-color: grey;
}
footer
{
	
	width: 100%;
	background-color: black;
}
.logo
{
	float :left;
	padding-left: 40px;

}
.logo img 
{
    	height: 105px;
    	width: auto;
	padding-left: 20px;
}

li a
{
	color: black;
	text-decoration: none;
}
/*nav
{
	float: right;
	word-spacing: 30px;
	padding: 20px;
}
nav li 
{
	display: inline-block;
	line-height: 80px;
}*/

section .sec_img
{
	height: 100%;
	width: 101%;
	margin-top: 0px;
	background-image: url("images/1.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
.box
{
	height: 300px;
	width: 450px;
	background-color: #030002;
	margin: 70px auto;
	opacity: .6;
	color: white;
}

/*--------------------------------st_login-----------------------------*/

.log_img
{
	height: 650px;
	margin-top: 0px;
	background-image: url("images/3.jpg");
	background-repeat: no-repeat;
        background-size: 1600px,400px;
	background-attachment: fixed;
}
.box1
{
	height: 450px;
	width: 450px;
	background-color: black;
	margin: 70px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}
form .login
{
	margin: auto 50px;
}
input
{
	height: 25px;
	width: 300px;

}
/*------------------------------registration--------------------*/
.reg_img
{
	height: 630px;
	margin-top: 0px;
	background-image: url("images/1.jpg");
	background-repeat: no-repeat;
        background-size: 1500px,500px;
	background-attachment: fixed;
}
.box2
{
	height: 589px;
	width: 450px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}


.srch
		{
			padding-right: 930px;

		}
		
		body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
/*---------------------------------art-------------------------------*/
.wf-container { margin: 0 auto; }
.wf-container:before,
.wf-container:after {
  content: '';
  display: table;
}
.wf-container:after { clear: both; }
.wf-box { margin: 10px; }
.wf-box img {
  display: block;
  width: 100%;
}
.wf-box .content {
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 5px 8px;
}
.wf-column { float: left; }
@media screen and (min-width: 768px) {
.wf-container { width: 250px; }
}
@media screen and (min-width: 992px) {
.wf-container { width: 470px; }
}
@media screen and (min-width: 1200px) {
.wf-container { width: 670px; }
}
.wf-column { float: left; }
@media screen and (min-width: 1468px) {
.wf-container { width: 850px; }
}
@media screen and (min-width: 1692px) {
.wf-container { width: 1070px; }
}
@media screen and (min-width: 1800px) {
.wf-container { width: 1270px; }
}